/* General styling for the container */
.tracks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Heading Style */
.heading {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

/* Card styling */
.card-wrapper {
  width: 100%;
  max-width: 300px; /* Limit card width */
  text-align: center;
  margin: 10px;
}

.card {
  width: 100%;
  height: auto;
}

.card img {
  width: 100%; /* Ensure image takes up the full width of the card */
  height: auto;
  object-fit: cover; /* Maintain aspect ratio of image */
}

h2 {
  margin-top: 10px;
  font-size: 1.2rem;
}

/* For tablets and mobile devices */
@media (max-width: 768px) {
  .container {
    justify-content: center; /* Center the cards */
  }
  .card-wrapper {
    max-width: 90%; /* Allow the card to take up more space on smaller screens */
  }
}

/* For smaller screens like mobile */
@media (max-width: 480px) {
  .container {
    justify-content: space-evenly; /* Adjust the space between cards */
  }
  .card-wrapper {
    max-width: 100%; /* Cards will take full width on small screens */
  }
}
