.tracks-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 

  text-align: center;
  width:100%;
}

.tracks-heading {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-content: center; 
  align-items: center; 
}

.card-wrapper {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.card {
  width: 100%;
  height: auto;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h2 {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #0A0A1C;
}

@media (max-width: 768px) {
  .tracks-heading {
    font-size: 2rem;
  }

  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
  }
}

@media (max-width: 480px) {
  .tracks-heading {
    font-size: 1.5rem;
  }

  .cards-wrapper {
    grid-template-columns: 1fr; 
    gap: 10px;
  }
}
